aiohttp==3.12.15
chardet==5.2.0
db==0.1.1
defusedxml==0.7.1
loguru==0.7.3
lxml==6.0.0
mysql_connector_repackaged==0.3.1
numpy~=2.2.6
pandas==2.3.1
playwright==1.54.0
PyMySQL==1.1.1
Requests==2.32.4
tenacity==9.1.2

beautifulsoup4~=4.13.4
mysql-connector-python~=9.4.0
django-scheduler~=0.10.1
psutil~=7.0.0
schedule~=1.2.2
openpyxl~=3.1.5
xlrd~=2.0.2
ddddocr~=1.5.6
pillow~=11.3.0
glcl~=0.2.3
retrying~=1.4.2
fonttools~=4.60.0
pdf2image~=1.17.0
PyQt6~=6.4.2
APScheduler~=3.11.2
urllib3~=2.5.0